@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Digital Coffees is the Future.</h3>
    <p>This is a members only Virtual Coffee Shop</p>
    <p>Please register to begin enjoying unlimited opportunities to purchase hypothetical coffees</p>
</div>
